@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.container{
    width: 1110px;
    margin: auto;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    height: 500px;
    padding-bottom: 50px;
}
.left-area {
    display: inline-block;
    width: 46%;
}
.right-area {
    display: inline-block;
    width: 46%;
    text-align: right;
}
img {
    width: 100%;
}
section.header-area {
    display: flex;
    justify-content: space-between;
}
.dream {
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
}
h1 {
    font-size: 54px;
    font-weight: 500;
}
h3 {
    font-size:20px;
    font-weight: 600;
}
.left-area h1 span {
    color: #ffa500;
    /* margin: 0px 0px; */
    margin-right: 14px;
    display: inline-block;
    margin-top: 41px;
}
.description {
    color: #848b84;
    margin-bottom: 6px;
}

.button {
    padding: 0px;
    background-color: #ff6656;
    border: none;
    border-radius: 5px;
}

.button a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    display: inline-block;
    color: white;
    font-weight: 700;
}
.dream .right-area {
    text-align: left;
}
.dream-area {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    height: 500px;
    background-position-x: right;
    background-position-y: bottom;
    margin: 50px 0px;
}
.orange{
    color: orange;
}
.experiences{
    margin-bottom: 50px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 200px;
}
h2 {
    font-size: 40px;
    font-weight: 500;
}
.box {
    width: 47%;
    /* border: 2px solid #b3b9b4; */
    box-sizing: border-box;
    /* padding: 10px; */
    padding-left: 33px;
    height: 400px;
    box-shadow: 10px 10px 40px #b3b9b4;
    border-radius: 5px;
    background-color: white;
}
.container.boxes {
    display: flex;
    justify-content: space-between;
}
.box.left-box {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
.box.right-box {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #0025ff, #00f9ff);
    border-image-slice: 1;
}
footer {
    margin: 100px auto;
    width: fit-content;
    font-size: 15px;
}
